/.venv
/__pycache__/
*.pyc
*.pyo
*.pyd
*.pyi
*.egg-info
*.egg
*.manifest
*.spec
*.dist-info
*.so
*.dylib
*.dll
*.lib
*.exp
*.pdb
*.swp
*.swo
*.swp
*.swn
*.swnb
*.swna
*.swno
*.swnp
*.swnr
*.swns
*.swnu
*.swnv
*.swnw
*.swnx
*.swny
*.swnz
.env